<div class="bio-page">
  <img class="bio-page__background-image" src="../../../assets/bio-page/Background.jpg">
  <!-- Title -->
  <div class="bio-page__title">
    <div *ngIf="!isMobile; else elseTablet" class="bio-page__title__wrapper">
      <img class="bio-page__title__wrapper__image" src="../../../assets/bio-page/TitleDesktop.svg">
    </div>
    <ng-template #elseTablet class="bio-page__title__wrapper">
      <img class="bio-page__title__wrapper__image" src="../../../assets/bio-page/TitleMobile.svg">
    </ng-template>
  </div>

  <!-- Gab's picture -->
  <div class="bio-page__picture">
    <img src="bio-page__picture__image" src="../../../assets/bio-page/GabPictureDesktop.png">
  </div>

  <!-- Content: text & labels -->
  <div class="bio-page__content">
    <div class="bio-page__content__text">
      <p class="bio-page__content__text__title">Hey! I'm Gabriel.</p>
      <p class="bio-page__content__text__description">I’m a senior in Computer Engineering at the École Polytechnique de Montréal. My technical background allows me to take great pictures and edit them like a champ afterwards.</p>
    </div>
  </div>
</div>
