.icon {

  margin: 10px;

  &__image {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px auto;
  }

  &__label {
    text-align: center;

    &__text {
      font-size: 14px;
      color: white;

      // Show 2 lines max
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }
}
